.card .header-title {
  color: $primary-blue;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.9rem;
  margin-top: 0;
}

.text-truncate {
  max-width: 150px;
}
