.content-page {
  position: relative;
  min-height: 100vh;
}

.font-14 {
  font-size: $font-size-14;
}

.text_primary {
  color: $primary-blue;
}

.btn_success {
  -webkit-box-shadow: 0 2px 6px 0 $dark-green;
  box-shadow: 0 2px 6px 0 $dark-green;
  color: #fff;
  background-color: $green;
  border-color: $green;
}

.btn_success:hover {
  color: #fff;
  background-color: $dark-greeen-hover-background;
  border-color: $dark-greeen-hover-border;
}

.badge_warning_lighten {
  color: $yellow;
  background-color: $yellow-background;
}
